@import url('https://fonts.googleapis.com/css?family=Imprima|Shrikhand&display=swap');
* {
    font-family: 'Imprima', sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
}

th {
    font-family: 'Shrikhand', cursive;
}

table {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background-color: azure;
}